body{

margin:0;
background:white;
font-family:Arial;

}

header{

display:flex;
align-items:center;
gap:20px;

padding:15px 30px;

background:#0f6cbf;

color:white;

}

.header-logo{

height:60px;

}

main{

width:90%;

margin:auto;

margin-top:30px;

}

video{

width:100%;

border-radius:10px;

box-shadow:0 5px 20px rgba(0,0,0,.2);

}